<!DOCTYPE html>
{% extends "read_pdf/index.html" %}
{% load static %}

{% block title %}
<title>Show Template</title>

{% endblock %}

{% block content %}



<div class="container">
  <div class="jumbotron">
  <div class="add-new-btn">
   <a href="/jobs"> <button type="button" class="btn btn-success">Add New</button></a>
  </div>
    <table class="table" style="width: 100%;">
      <tr><th scope="col">Job Name</th>
      <th scope="col">Node</th>
      <th scope="col">Notification</th>
      <th scope="col">Output Format</th>
      <th scope="col">Output Filename</th>
      </tr>
      {% for item in items %}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.node}}</td>
        <td>{{item.Notification}}</td>
        <td>{{item.output_format}}</td>
        <td>{{item.output_filename}}</td>
      </tr>
      {% endfor %}
    </table>


  </div>
  </div>

{% endblock %}

